* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/* For desktop view */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}
/* For tablet view */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-md-12 {
        width: 100%;
        float: left;
    }
}
/* For cell phone view */
@media (max-width: 767px) {
    .col-xs-12 {
        width: 100%;
        float: left;
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

section {
    margin: 10px;
}

p {
    font-size: 15px;
    font-weight: bold;
    clear: right;
    margin: 10px;
    text-align: justify;
}

article {
    background-color: gray;
    border: 2px solid black;
    margin: 10px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    padding: 2px 40px;
    margin-bottom: 10px;
    display: block;
    background-color: magenta;
    border: 1px solid black;
    text-align: center;
    float: right;
}
